<!DOCKTYPE html>
<html>
<head>
<title>A simple text reversing service | by @tshenolo</title>
</head>
<body>
<h1>A simple text reversing service</h1>
<p>This application will reverse text</p>
<form action="/reverse" method="post" accept-charset="utf-8">
<input type="text" name="post[text]" placeholder="text to reverse" id="text" />
<input type="submit" value="Reverse">
</form>
</body>
</html>
